<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.test.tw.wrokproduct">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- <uses-permission android:name="android.hardware.camera2.full"/> -->
    <application
        android:name=".GlobalVariable"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoadingPage"
            android:launchMode="singleTask" />
        <activity
            android:name=".PtypeActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".PcContentActivity"
            android:launchMode="singleTask" />
        <activity android:name=".TestActivity" />
        <activity
            android:name=".LoginActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ShopCartActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".CommunityActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".CountActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ShipWayActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".StoreWebViewActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".AddStoreShipWayActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".AddDeliveryShipWayActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ListVIewActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".PayWayActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".GoldFlowActivity"
            android:launchMode="singleTask" />
        <activity android:name=".FacebookActivity" />
        <!-- Facebook Start -->
        <!-- FB Login -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <!-- FB Share ex:photo、video、webLink -->
        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider172989503377924"
            android:exported="true" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <!-- Facebook End -->
        <activity android:name=".GoogleSignInActivity" />
        <activity
            android:name=".RegisterActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".RegisterDetailActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ForgetPassActivity"
            android:launchMode="singleTask" />
        <activity android:name=".LogoutActivity" />
        <activity
            android:name=".我的帳戶.個人管理.個人資料.PersonalInfoActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".我的帳戶.個人管理.個人資料.SelectCoverActivity"
            android:launchMode="singleTop" />
        <activity android:name=".我的帳戶.個人管理.修改密碼.ModifyPasswordActivity" />
        <activity android:name=".我的帳戶.個人管理.個人資料.Camera2Activity" />
        <activity android:name=".我的帳戶.個人管理.個人資料.CameraActivity" />
        <activity android:name=".我的帳戶.諮詢管理.幫助中心.HelpCenterActivity" />
        <activity android:name=".我的帳戶.諮詢管理.聯絡劦譽.ContactActivity" />
        <activity android:name=".我的帳戶.諮詢管理.聯絡劦譽.ReplyActivity" />
        <activity android:name=".我的帳戶.諮詢管理.聯絡劦譽.WriteMailActivity" />
        <activity android:name=".我的帳戶.訂單管理.收貨地址.ShipAddressActivity" />
        <activity android:name=".我的帳戶.訂單管理.訂單資訊.OrderInfoActivity" />
        <activity android:name=".我的帳戶.訂單管理.訂單資訊.OrderInfoDetailActivity" />
        <activity android:name=".我的帳戶.訂單管理.訂單資訊.OrderPayDetailActivity" />
        <activity android:name=".SearchBarActivity" />
        <activity android:name=".SearchResultActivity" />
        <activity android:name=".帳務管理.波克點值and庫瓦點值and雙閃幣.PointActivity" />
        <activity android:name=".帳務管理.點值轉換.ExchangePointActivity"></activity>
    </application>

</manifest>